/* variabel */
:root {
  --c-brand: #0b8c17;
  --c-brand-rgb: 254, 54, 145;
  --c-dark: #303050;
  --c-body: #636383;
  --f-main: "Nunito Sans", sans-serif;
  --shadow: 0px 15px 40px rgba(0, 0, 0, 0.1);
}

/* Reset and Helpers */
body {
  font-family: var(--f-main);
  color: var(--c-body);
  line-height: 1.7;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 700;
  color: var(--c-dark);
}

a {
  text-decoration: none;
  color: var(--c-dark);
  transition: var(--transition);
}

a:hover {
  color: var(--c-brand);
}

.home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-content .home-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
  width: 100%;
}

/* .section-padding {
  padding-top: 90px;
  padding-bottom: 60px;
  background-color: white;
} */

.text-brand {
  color: var(--c-brand);
}

/* .bg-keahlian {
  background-color: wheat;
} */

/* .shadow-effect {
  transition: all 0.5s;
}

.shadow-effect:hover {
  box-shadow: -6 6 0 8px;
} */

.iconbox {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  background-color: antiquewhite;
  color: black;
}
/* Navbar */
.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar.scrolled {
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: white;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.navbar .navbar-nav .nav-link {
  font-weight: 500;
  color: var(--c-dark);
}

.navbar .navbar-nav .nav-link:hover {
  color: var(--c-brand);
}

.navbar-brand {
  font-size: 24px;
  font-weight: 700;
  color: var(--c-dark);
}

.social-icon {
  width: 36px;
  height: 36px;
  margin-right: 6px;
  background-color: var(--c-brand);
  color: white;
  border: 2px solid var(--c-brand);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.social-icon:hover {
  background-color: white;
}

/* BTN */
.btn {
  padding: 10px 24px;
  border-radius: 0;
  border-width: 2px;
  font-weight: 500;
}

.btn-brand {
  background-color: var(--c-brand);
  color: white;
  border-color: var(--c-brand);
}

.btn-brand:hover {
  border-color: var(--c-brand);
  color: black;
}

.btn-brand:focus {
  background-color: var(--c-brand);
}

/* Projek */
.sdgs {
  overflow: hidden;
  position: relative;
}

.sdgs .content-sdgs {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--c-brand);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sdgs img,
.sdgs .content-sdgs {
  transition: all 0.5s ease-in-out;
}

.sdgs:hover .content-sdgs {
  top: 0;
}
.sdgs:hover img {
  transform: translateY(-100%);
}

.text-sdgs {
  color: white;
}

.about-us-content {
  padding-top: 100px; 
}

.about-us-content .row {
  margin-bottom: 50px; 
}

.about-us-content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding-bottom: 20px; 
}

.sdgs .content-sdgs {
  padding: 10px; 
}

.team-photo {
  width: 400px;
  height: 500px; 
  object-fit: cover; 
}

.team-photo-container {
  background-color: #f8f9fa; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  display: inline-block;
}

.icon-links .social-icon a i { 
  font-size: 24px;
}
